# Editor last save hidden file
*.php~
*.css~
*.html~
*.js~

# Kate editor files
*.kate-swp

# Dolphin file selector
.directory
.htmlindex

#Bluefish project file
*.bfproject

#Used in Audible Books site
CoverArt/

# Javascript Librarys or Modules
config.db

